*{ margin : 0; padding : 0;}
ul,li{ list-style: none;}
img{ display: block;}
html,body,#app{height: 100%; background-color: #dee;}
#app{ min-width: 1366px;}
body{ font-size: 16px;}
.clearfix:after{ content:""; display: block; clear:both;}
.el-card{ box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;}
.el-pagination{ margin-top: 20px; }
.el-table{ margin-top: 24px; }


.iconfont { margin-right: 9px;}
.active-font {display: inline-block; cursor: pointer; margin: 0 5px;}
.active-font:hover { text-decoration: underline; }

.font-primary { color: #235FED; }
.font-info{ color: #999999; }
.font-warning{ color: #FD7676; }
.font-success{ color: #25D9BE; }
.font-purple { color: #9526E6; }


.button-default { background-color: #fff !important; color: #000 !important; }
.button-default:hover { background-color: #235FED !important;color: #fff !important; border-color: #235FED !important; }
.button-default:focus { background-color: #235FED !important;color: #fff !important; border-color: #235FED !important; }

.button-primary { background-color: #235FED !important; color: #fff !important;}
.button-primary:hover { background-color: #6691F7 !important;color: #fff !important;}

.button-info { background-color: #999999 !important; color: #fff !important;}
.button-info:hover { background-color: #bbbbbb !important; color: #fff !important;}

.button-warning { background-color: #FD7676 !important; color: #fff !important;}
.button-warning:hover { background-color: #FD9999 !important;color: #fff !important;}

.button-success { background-color: #30D4AF !important; color: #fff !important; }
.button-success:hover { background-color: #50F4CF !important; color: #fff !important; }

.second-line { margin: 20px 0 !important; }
.search-button,.reset-button { width: 70px; }

.dialog-fontweight { font-weight: 600 !important;}
.dialog-footer { display: flex !important; justify-content: center;}
